@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,500;1,300;1,700&family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500&display=swap');
body{
    min-height: 100vh;
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;  
    background-color: rgb(228, 228, 228);
}


.container-img{
    height: 100vh;
    background-image: url('imgs/bg-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    background-color: rgb(24, 108, 192);
    height: 10vh;
    margin: 0;
    position: fixed;
    width: 100%;
    padding: 5px;
    z-index: 1000;
    
}

.buttons-1{
    display: flex;
    align-items: center;
    gap: 20px;
}

.button-2{
    border: none;
    text-decoration: none;
    background-color: rgb(24, 108, 192);
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.buttons-2{
    display: flex;
    gap: 40px;
    margin-right: 10px;
}

.buttons-2 a{
    text-decoration: none;
    color: white;
}

.button-2:hover{
    text-decoration: none;
}

.button-lmtc{
    border: none;
    background-color: rgb(24, 108, 192);
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300; 
}

.button-lmtc a{
    color: white;
    text-decoration: none;
}



.img-logo-unifil{
    width: 60px;
}

.projects-section, .team-section {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 100px;
}


.project-gallery, .team-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
}


figure {
    position: relative;
    margin: 0;
    
}


figure img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}


figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 10px;
    text-align: center;
}

.imagem-coisa{
    width: 400px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}


nav a {
    text-decoration: none;
    color: #fff;
}


footer {
    padding: 20px;
}


.light-section {
    background-color: #635e5e;
    padding: 15px;
    text-align: center;
}


.dark-section {
    background-color: #333;
    color: #726e6e;
    padding: 10px;
    text-align: center;
}


.dark-section p {
    margin: 0;
}


.subtitulo{
    font-size: 50px;
    text-align: center;
    color: white;
    font-weight: 300;
}


.tituluzinho{
    font-size: 20px;
}


.azul{
    background-color: rgb(41, 41, 184);
    margin: 0;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}

.azul-2{
    background-color: rgb(41, 41, 184);
    margin: 0;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
}

.p-sobre-equipe{
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}


.missoesvalores{
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    color: black;
}


.div-missoesvalores{
    margin-top: 20px;
    margin-bottom: 20px;
}

.link-projeto{
    text-decoration: none;
    color: black;
}